<!DOCTYPE html>
<html>
  <head>
    <title>MIAC XC Championships</title>
    <meta charset="UTF-8">
    <link href="../static/search.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&family=Rubik&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  </head>

  <body>
    <header>
      <div id="title-container">
        <h1 id="mainurl" class="wide-screen"><a href="index.html">Men's Cross Country MIAC Championships</a></h1>
        <h1 id="mainurl" class="narrow-screen"><a href="index.html">MIAC Championships</a></h1>
      </div>
    </header>

    <main>
      <h2>Results for "":</h2>
    </main>
  </body>
</html>
